{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="title-padding">List of Definitions</h3>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <p>If you are looking for a particular term please use your browsers find function. To use this 
            either open the menu and click on find, or on desktop press Ctrl+F.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-columns">
        {% for def in definitions %}
        <div class="card mb-4 shadow-sm">
            {% if def.picture %}
          <img class="card-img-top" src="{{def.picture}}" alt="Card image cap">
          {% else %}
          <img class="card-img-top" src="{{url_for('static', filename='images/stock-image.jpg')}}" alt="Card image cap">
          {% endif %}
          <div class="card-body">
            <h5>{{def.name}}</h5>
            <p class="card-text str">
              For more information please hit view.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="/definitions/{{def._id}}" role="button">View</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
