{% extends 'base.html' %} {% block content %}

<h3>Edit {{defi.name}}</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form action="{{url_for('update_def', def_id=defi._id)}}" method="POST">
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="{{defi.name}}"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="definition" class="col-sm-2 col-form-label"
            >Definition</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="definition"
              name="definition"
              value="{{defi.definition}}"
            />
          </div>
        </div>
        <fieldset class="form-group required">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Type of Word</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="type"
                  id="noun"
                  value="noun"
                />
                <label class="form-check-label" for="noun">
                  Noun
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="type"
                  id="verb"
                  value="verb"
                  required
                />
                <label class="form-check-label" for="verb">
                  Verb
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </form>
      <a href="{{url_for('delete_def', def_id=defi._id)}}" class="btn btn-primary">Delete</a>
    </div>
  </div>
</div>

{% endblock %}
