{% extends 'base.html' %} {% block content %}

{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-padding">Golftionary</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4 class="title-padding">Welcome to The Goltionary.</h4>
            <p>The Golftionary is a community driven site designed for beginners and those wanting to know 
            more about the wonderful sport of golf can discover information about some of the often confusing 
            terminology used in golf.</p>
            <p>If you are know a bit about a term used in golf and it is not on the site, feel free to add it by using 
            the link in the menu on the side.</p>
            <p>Sadly only registered members are allowed to post or edit definitions. Luckily registering is super simple 
            and can be done with the links in the menu.</p>
        </div>
        <div class="col-md-6">
            <img class="card-img-top" src="{{url_for('static', filename='images/book.jpg')}}" alt="Book">
        </div>
    </div>
</div>

<div class="container-fluid banner">
    <div class="row">
        <div class="col-12">
            <img class="center_resize" src="{{url_for('static', filename='images/banner.jpg')}}" alt="Sunset">
        </div>
    </div>
</div>

{% endblock %}